@media screen and (min-width: 1100px) {
    .main-card{
        flex-direction: row;
        width: 85%;
        height: 450px;
        padding-bottom: 0;
        border-radius: 10px;
        margin-top: 150px;
    
        .img-area{
            order: 2;
            height: 100%;
            width: 50%;
            border-radius: 0 10px 10px 0;
    
            .mobile-img{display: none;} //mobile remove for mobile
    
            .desktop-img{
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 0 10px 10px 0;
                mix-blend-mode: hard-light;
            }
        }
    
        .txt-area{
            padding: 0 50px 0 80px;
            order: 1;
            margin-top: 0px;
            width: 50%;
            
            .hero-txt{
                align-items: start;
                h1{
                    text-align: start;
                }
                p{
                    width: 380px;
                    text-align: start;
                    margin-top: 20px;
                }
            }
    
            .stat-txt{
                flex-direction: row;
                justify-content: start;
                margin-top: 90px;
                
                .table-column{
                    margin-top: 0;
                    margin-right: 80px;
                    h1{
                        text-align: start;
                    }
                    p{
                        margin-top: 5px;
                        text-align: start;
                    }
                }
            }
        }
    }
}