/* unversal */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
p{
  font-family: 'Lexend Deca', sans-serif;
}

/* body /////////////////////*/
body{
  background-color: #0a0c1b;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main-card///////////////// */
.main-card{
  background-color: #1c1938;
  width: 80%;
  height: 45%;
  border-radius: 10px;
  padding-left: 5%;
}
.main-card img{
  width: 500px;
  height: auto;
  border-radius: 0px 10px 10px 0px;
  float: right;
}


/* up-side-txt /////////////////*/
.up-side-txt{
  padding: 5% 0;
}
.up-side-txt p{
  color: rgb(156, 155, 155);
  margin-top: 45px;
  width: 330px;
  font-size: 15px;
}
.up-side-txt h1{
  color: white;
  width: 330px;
  font-size: 30px;
}
.up-side-txt h1 strong{
  color: #9957c2;
}

/* table-row-&-cloumn //////////*/
.table-row{
  display: flex;
  margin-top: 40px;
}
.table-column{
  padding-right: 50px;
}
.table-column h1{
  color: white;
  font-size: 20px;
}
.table-column p{
  color: rgb(156, 155, 155);
  font-size: 15px;
}
